// ==========================================================================
// Variáveis SASS
// ==========================================================================

$vermelho: #ef4e3e;
$verde-escuro: #00b159;
$verde: #a4ce4c;
$azul: #4ec5e0;